/* Website Palette: Hex: 354649 / 6C7A89 / A3C6C4 / E0E7E9 */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Newsreader:opsz@6..72&display=swap');
/* font-family: 'Lato', sans-serif; -- font-family: 'Newsreader', serif; */

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #354649;
}

header {
  display: flex;
  position: sticky;
  top: 5px;
  background: rgb(167, 193, 198);
  background: linear-gradient(180deg, rgba(167, 193, 198, 1) 0%, rgba(224, 231, 233, 1) 100%);
  box-shadow: 0 4px 10px -4px lightblue;
  height: 75px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  margin: 5px;
  z-index: 100;
}

.logo {
  width: auto;
  height: 75px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: transform .2s;
}

/* CHANGE LOGO SIZE AND CURSOR ON MOUSEOVER */
.logo:hover {
  transform: scale(1.05);
  cursor: url(../assets/img/cursor.png), auto;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding-right: 50px;
}

.menu-bar ul li {
  list-style: none;
  display: inline-block;
}

/* MENU BUTTONS + EFFECTS */
.button {
  position: relative;
  padding: 10px;
  color: #000;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  border: 2px solid #A3C6C4;

}

.button::before {
  position: absolute;
  z-index: -1;
  content: '';
  background: #1c1437;
  transition: transform .3s;
}

.button:hover {
  color: #A3C6C4;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button1::before,
.button1::after {
  position: absolute;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 50%;
  background: #1c1437;
  transform: scale(1, 0);
  transition: transform .3s;
}

.button1::before {
  top: 0;
  transform-origin: left top;
  border-top-left-radius: 10px;
}

.button1::after {
  bottom: 0;
  transform-origin: left bottom;
  border-bottom-right-radius: 10px;
}

.button1:hover::before,
.button1:hover::after {
  transform: scale(1, 1);
}

.title {
  margin-top: 20px;
  text-align: center;
  color: #E0E7E9;
  font-family: 'Newsreader', serif;
}

.title .highlight {
  position: relative;
}

.title .highlight::before {
  background-color: #0b4fd6;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.container-tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech {
  background: radial-gradient(circle, rgba(231, 213, 83, 1) 0%, rgba(53, 70, 73, 1) 81%, rgba(53, 70, 73, 1) 100%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 10px;
  padding: 10px;
  border: double rgba(53, 70, 73, 1) 10px;
}

.tech:hover {
  transform: rotate(20deg);
  transition: transform .5s;
}

/* MAIN CONTENT OF THE WEBSITE STARTS HERE WITH THIS WRAPPER/GRID */
.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.wrapper-video {
  grid-column: 1;
  grid-row: 1;
}

.text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  width: 552px;
  height: 300px;
  padding-left: 10px;
  text-align: justify;
}

.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  width: 552px;
  height: 300px;
  padding-right: 10px;
  text-align: justify;
}

.wrapper-image {
  grid-column: 2;
  grid-row: 2;
  width: 552px;
  height: 300px;
}

/* ASIDE IS USED FOR NESTING THE "GO TOP" BUTTON */
aside {
  display: flex;
  position: sticky;
  bottom: 5px;
  justify-content: right;
}

.gotop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px -2px teal;
  background-color: #333;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.gotop {
  transform: translate(-5%, -5%);
  transition: transform 0.2s;
}

.gotop:hover {
  transform: translate(0, 0);
}

.footer-start {
  border: none;
  border-top: 1px dashed #57648C;
}

.footer {
  text-align: center;
  color: #E0E7E9;
}