@import url("https://fonts.googleapis.com/css2?family=Lato&family=Newsreader:opsz@6..72&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* BORDERS LAYOUT OF THE WEBSITE */
body#top {
  background: linear-gradient(#354649, rgb(122, 121, 121), #fff);
}

header {
  position: sticky;
  top: 5px;
  background: rgb(167, 193, 198);
  background: linear-gradient(180deg, rgb(167, 193, 198) 0%, rgb(224, 231, 233) 100%);
  box-shadow: 0 4px 10px -4px lightblue;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 3px;
  margin: 5px;
  z-index: 100;
}

/* CHANGE LOGO SIZE AND CURSOR ON MOUSEOVER */
.logo {
  width: auto;
  height: 75px;
  transition: transform 0.2s;
}
.logo:hover {
  transform: scale(1.05);
  cursor: url(../assets/img/cursor.png), auto;
}

/* MENU BUTTONS + EFFECTS */
.nav-link {
  color: #0b4fd6;
}
.nav-link:hover {
  color: #fff !important;
  transition: 1s;
}

.button {
  position: relative;
  padding: 10px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  border: 2px solid #A3C6C4;
}
.button::before, .button::after {
  position: absolute;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 50%;
  background: #1c1437;
  transform: scale(1, 0);
  transition: transform 0.3s;
}
.button::before {
  top: 0;
  transform-origin: left top;
  border-top-left-radius: 10px;
}
.button::after {
  bottom: 0;
  transform-origin: left bottom;
  border-bottom-right-radius: 10px;
}
.button:hover::before, .button:hover::after {
  transform: scale(1, 1);
}

.title {
  margin-top: 20px;
  text-align: center;
  color: #E0E7E9;
  font-family: "Newsreader", serif;
}
.title .highlight {
  position: relative;
}
.title .highlight::before {
  background-color: #0b4fd6;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.container-tech {
  display: flex;
  justify-content: center;
}

.tech {
  background: radial-gradient(circle, rgb(231, 213, 83) 0%, rgb(53, 70, 73) 81%, rgb(53, 70, 73) 100%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 10px;
  padding: 10px;
  border: double rgb(53, 70, 73) 10px;
}
.tech:hover {
  transform: rotate(20deg);
  transition: transform 0.5s;
}

/* MAIN CONTENT OF THE WEBSITE STARTS HERE WITH THIS WRAPPER/GRID */
.grid-container {
  background: #16222A;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 1200px;
  padding: 10px;
}

.bg-effect:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.shadows {
  box-shadow: 0 2rem 5rem #fff;
}

/* USING FLEXBOX SOMEWHERE */
.grid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 10px;
}

/* APPLY EFFECT ON HOVER TO BUTTONS AND/OR BACKGROUNDS (revisit this with SASS later on)  */
.text-bg-black {
  color: #fff;
  background-color: #212529;
}
.text-bg-black:hover {
  color: #212529;
  background-color: #fff;
  transition: 0.5s;
  border: 1px solid #212529;
}

.text-bg-white {
  background-color: #fff;
  color: #212529;
  border: 1px solid #212529;
}
.text-bg-white:hover {
  color: #fff;
  background-color: #212529;
  transition: 0.5s;
}

/* A LITTLE TEXT MIXIN TO MAKE THE WEBSITE LOOK SIMILAR OVERALL */
.text-mixin {
  color: #fff;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.borders-mixin {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* USE THIS CLASS TO MAKE IT UPPERCASE */
.uppercase {
  text-transform: uppercase;
}

/* ASIDE IS USED FOR NESTING THE "GO TOP" BUTTON */
aside {
  display: flex;
  justify-content: right;
  position: sticky;
  bottom: 5px;
}

/* GO TOP BUTTON EFFECTS AND CLASSES */
.gotop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px -2px teal;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.gotop {
  transform: translate(-5%, -5%);
  transition: transform 0.2s;
}
.gotop:hover {
  transform: translate(0, 0);
}

.footer-start {
  border: none;
  border-top: 1px dashed #57648C;
}

.footer {
  text-align: center;
  color: #E0E7E9;
}

/* REMOVE BG ON BOOTSTRAP CARD HEADER */
.card-header {
  background-color: transparent;
}

.contact-btn-reset .contact-btn-submit {
  background-color: white;
  color: black;
}

/* Responsive layout for Tech using GRIDS (2Col/2Row)*/
@media (max-width: 900px) {
  .container-tech {
    display: grid;
  }
  .responsive1 {
    grid-column: 1;
    grid-row: 1;
  }
  .responsive2 {
    grid-column: 2;
    grid-row: 1;
  }
  .responsive3 {
    grid-column: 1;
    grid-row: 2;
  }
  .responsive4 {
    grid-column: 2;
    grid-row: 2;
  }
  .tech {
    width: 150px;
    height: 150px;
  }
  /* ADDED MARGIN TO SEPARATE BOTH TEXTS FROM EACH OTHERS WHILE IN MOBILES */
  .responsive-spacing {
    margin-bottom: 3rem;
  }
}
/* MAKE HIGHLIGHT TEXT RESPONSIVE AT 485px WIDTH */
@media (max-width: 485px) {
  .title-responsive {
    display: inline-block;
  }
}/*# sourceMappingURL=style.css.map */