// DECLARING DOCUMENTS MIXINS
@mixin flex-prop($align) {
    display: flex;
    justify-content: $align;
    align-items: $align;
}

@mixin grid-position($column, $row) {
    grid-column: $column;
    grid-row: $row;
}

@mixin text-mixin($color, $font-weight, $font-fam) {
    color: $color;
    font-weight: $font-weight;
    font-family: $font-fam;
}

/* BORDERS LAYOUT OF THE WEBSITE (ADDED ARGS BECAUSE NOT EVERY BORDER HAS THE SAME PX)*/
@mixin borders-mixin($top-left, $bottom-right) {
    border-top-left-radius: $top-left;
    border-bottom-right-radius: $bottom-right;
}

// MIXINS FOR HEADER BUTTONS DO ***NOT*** TOUCH THIS
@mixin navbar-buttons($color, $border, $transition, $bg-color) {
    color: $color;
    border: $border;
    background: $bg-color;
    transition: $transition;
}